body {
  margin: 0;
  font-family: 'pretendard';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform : rotate(0.04deg); 
}

@font-face {
  font-family : 'pretendard';
  src : url(/public/fonts/Pretendard-Regular.otf);
}

@font-face {
  font-family : 'gmarket';
  src : url(/public/fonts/GmarketSansMedium.otf);
}